{
  "parser": "babel-eslint",
  "rules": {
    "brace-style": [2, "1tbs", {"allowSingleLine": false}],
    "camelcase": 1,
    "comma-dangle": [2, "always-multiline"],
    "comma-style": [2, "last"],
    "curly": [2, "multi-line"],
    "eol-last": 2,
    "eqeqeq": [2, "smart"],
    "func-style": [2, "declaration"],
    "generator-star-spacing": [2, "before"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "key-spacing": 2,
    "new-cap": 0,
    "no-eq-null": 0,
    "no-func-assign": 2,
    "no-lonely-if": 1,
    "no-loop-func": 1,
    "no-nested-ternary": 0,
    "no-shadow": 1,
    "no-throw-literal": 2,
    "no-underscore-dangle": 1,
    "no-undef": 2,
    "no-unused-vars": [2, {"args": "none"}],
    "no-use-before-define": 0,
    "no-var": 2,
    "quotes": [2, "single"],
    "radix": 1,
    "radix": 2,
    "space-after-keywords": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "object-curly-spacing": [2, "never"],
    "array-bracket-spacing": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "no-shadow-restricted-names": 1,
    "no-underscore-dangle": 1,
    "strict": 0,
    "no-console": 1,
    "no-unused-expressions": 0,
  }
}
