{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel",
  ],
  "globals": {
    "process": false,
    "console": false,
  },
  "rules": {
    "brace-style": [2, "1tbs", {"allowSingleLine": false}],
    "camelcase": 1,
    "comma-dangle": [2, "always-multiline"],
    "comma-style": [2, "last"],
    "curly": [2, "multi-line"],
    "eol-last": 2,
    "eqeqeq": [1, "smart"],
    "generator-star-spacing": [2, "before"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "key-spacing": 2,
    "no-func-assign": 2,
    "no-lonely-if": 1,
    "no-loop-func": 1,
    "no-nested-ternary": 0,
    "no-shadow": 1,
    "no-throw-literal": 2,
    "no-undef": 2,
    "no-unused-vars": [2, {"args": "none"}],
    "no-var": 1,
    "quotes": [2, "single"],
    "radix": 2,
    "keyword-spacing": [2, {before: true, after: true}],
    "space-before-function-paren": [2, "never"],
    "array-bracket-spacing": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "no-shadow-restricted-names": 1,
    "no-underscore-dangle": 0,
    "no-console": 1,
    "babel/generator-star-spacing": 2,
    "babel/new-cap": 2,
    "babel/array-bracket-spacing": 2,
    "object-curly-spacing": 0,
    "babel/object-curly-spacing": [2, "never"],
    "babel/object-shorthand": 2,
    "babel/arrow-parens": [2, "as-needed"],
    "babel/no-await-in-loop": 2,
    "react/forbid-prop-types": 2,
    "react/jsx-boolean-value": 2,
    "react/jsx-closing-bracket-location": [2, {
      "nonEmpty": "after-props",
      "selfClosing": "line-aligned",
    }],
    "react/jsx-curly-spacing": 2,
    "react/jsx-indent-props": [2, 2],
    "react/jsx-max-props-per-line": [1, {maximum: 4}],
    "react/jsx-no-bind": 1,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "jsx-quotes": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-danger": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-unknown-property": 2,
    "react/prefer-es6-class": 1,
    "react/react-in-jsx-scope": 2,
    "react/require-extension": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 1,
    "react/wrap-multilines": 2,
  }
}
